Source: linux-nvidia-tegra-igx
Section: devel
Priority: optional
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
XSC-Ubuntu-Compatible-Signing: ubuntu/4 pro/3
Standards-Version: 3.9.4.0
Build-Depends:
 debhelper-compat (= 10),
 cpio,
 kmod <!stage1>,
 makedumpfile [amd64] <!stage1>,
 libcap-dev <!stage1>,
 libelf-dev <!stage1>,
 libnewt-dev <!stage1>,
 libiberty-dev <!stage1>,
 default-jdk-headless <!stage1>,
 java-common <!stage1>,
 rsync <!stage1>,
 libdw-dev <!stage1>,
 libpci-dev <!stage1>,
 pkg-config <!stage1>,
 python3-dev <!stage1>,
 flex <!stage1>,
 bison <!stage1>,
 libunwind8-dev [amd64 arm64 armhf ppc64el] <!stage1>,
 liblzma-dev <!stage1>,
 openssl <!stage1>,
 libssl-dev <!stage1>,
 libaudit-dev <!stage1>,
 bc <!stage1>,
 gawk <!stage1>,
 libudev-dev <!stage1>,
 autoconf <!stage1>,
 automake <!stage1>,
 libtool <!stage1>,
 uuid-dev <!stage1>,
 libnuma-dev [amd64 arm64 ppc64el s390x] <!stage1>,
 dkms <!stage1>,
 curl <!stage1>,
 zstd [amd64 s390x] <!stage1>,
 pahole [amd64 arm64 armhf ppc64el s390x riscv64] | dwarves (>= 1.21) [amd64 arm64 armhf ppc64el s390x riscv64] <!stage1>,
Build-Depends-Indep:
 xmlto <!stage1>,
 docbook-utils <!stage1>,
 ghostscript <!stage1>,
 fig2dev <!stage1>,
 bzip2 <!stage1>,
 sharutils <!stage1>,
 asciidoc <!stage1>,
 python3-dev <!stage1>,
 python3-sphinx <!stage1>,
 python3-sphinx-rtd-theme <!stage1>,
 fontconfig <!stage1>,
 python3-docutils <!stage1>,
 imagemagick <!stage1>,
 graphviz <!stage1>,
 dvipng <!stage1>,
 fonts-noto-cjk <!stage1>,
 latexmk <!stage1>,
 librsvg2-bin <!stage1>,
Vcs-Git: git://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/jammy
XS-Testsuite: autopkgtest
#XS-Testsuite-Depends: gcc-4.7 binutils

Package: linux-nvidia-tegra-igx-headers-5.15.0-1007
Build-Profiles: <!stage1>
Architecture: all
Multi-Arch: foreign
Section: devel
Priority: optional
Depends: ${misc:Depends}, coreutils
Description: Header files related to Linux kernel version 5.15.0
 This package provides kernel header files for version 5.15.0, for sites
 that want the latest kernel headers. Please read
 /usr/share/doc/linux-nvidia-tegra-igx-headers-5.15.0-1007/debian.README.gz for details

Package: linux-nvidia-tegra-igx-tools-common
Build-Profiles: <!stage1>
Architecture: all
Multi-Arch: foreign
Section: kernel
Priority: optional
Depends: ${misc:Depends}, lsb-release, hwdata
Description: Linux kernel version specific tools for version 5.15.0
 This package provides the architecture independent parts for kernel
 version locked tools (such as perf and x86_energy_perf_policy) for
 version 5.15.0.

Package: linux-nvidia-tegra-igx-tools-5.15.0-1007
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-tools-common
Description: Linux kernel version specific tools for version 5.15.0-1007
 This package provides the architecture dependant parts for kernel
 version locked tools (such as perf and x86_energy_perf_policy) for
 version 5.15.0-1007 on
 .
 You probably want to install linux-tools-5.15.0-1007-<flavour>.

Package: linux-nvidia-tegra-igx-cloud-tools-common
Build-Profiles: <!stage1>
Architecture: all
Multi-Arch: foreign
Section: kernel
Priority: optional
Depends: ${misc:Depends}
Description: Linux kernel version specific cloud tools for version 5.15.0
 This package provides the architecture independent parts for kernel
 version locked tools for cloud tools for version 5.15.0.

Package: linux-nvidia-tegra-igx-cloud-tools-5.15.0-1007
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-cloud-tools-common
Description: Linux kernel version specific cloud tools for version 5.15.0-1007
 This package provides the architecture dependant parts for kernel
 version locked tools for cloud tools for version 5.15.0-1007 on
 .
 You probably want to install linux-cloud-tools-5.15.0-1007-<flavour>.

Package: linux-nvidia-tegra-igx-tools-host
Build-Profiles: <!stage1>
Architecture: all
Multi-Arch: foreign
Section: kernel
Priority: optional
Depends: ${misc:Depends}, python3
Description: Linux kernel VM host tools
 This package provides kernel tools useful for VM hosts.

Package: linux-nvidia-tegra-igx-tegra-igpu-igx-defaults
Build-Profiles: <!stage1>
Architecture: all
Multi-Arch: foreign
Section: kernel
Priority: optional
Depends: ${misc:Depends}
Conflicts: nvidia-dkms-kernel, nvidia-prebuilt-kernel
Description: Extra configuration required for IGX Orin iGPU modules.
 This package contains modprobe.d configuration required for loading IGX Orin
 iGPU modules with the appropriate module parameters.



Package: linux-image-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Provides: linux-image, fuse-module, kvm-api-4, redhat-cluster-modules, ivtv-modules, ${linux:rprovides}
Depends: ${misc:Depends}, ${shlibs:Depends}, kmod, linux-base (>= 4.5ubuntu1~16.04.1), linux-modules-5.15.0-1007-nvidia-tegra-igx
Recommends: grub-efi-arm64 [arm64] | flash-kernel [arm64], initramfs-tools | linux-initramfs-tool
Breaks: flash-kernel (<< 3.90ubuntu2) [arm64 armhf], s390-tools (<< 2.3.0-0ubuntu3) [s390x]
Conflicts: linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx
Suggests: fdutils, linux-doc | linux-nvidia-tegra-igx-source-5.15.0, linux-nvidia-tegra-igx-tools, linux-headers-5.15.0-1007-nvidia-tegra-igx, linux-modules-extra-5.15.0-1007-nvidia-tegra-igx
Description: Linux kernel image for version 5.15.0 on  SMP
 This package contains the Linux kernel image for version 5.15.0 on
  SMP.
 .
 Supports Nvidia-Tegra-IGX processors.
 .
 Geared toward IoT, embedded devices and server systems.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-nvidia-tegra-igx meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-modules-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-image-5.15.0-1007-nvidia-tegra-igx | linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx
Built-Using: ${linux:BuiltUsing}
Description: Linux kernel extra modules for version 5.15.0 on  SMP
 Contains the corresponding System.map file, the modules built by the
 packager, and scripts that try to ensure that the system is not left in an
 unbootable state after an update.
 .
 Supports Nvidia-Tegra-IGX processors.
 .
 Geared toward IoT, embedded devices and server systems.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-nvidia-tegra-igx meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-modules-extra-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-image-5.15.0-1007-nvidia-tegra-igx | linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx, wireless-regdb
Description: Linux kernel extra modules for version 5.15.0 on  SMP
 This package contains the Linux kernel extra modules for version 5.15.0 on
  SMP.
 .
 Also includes the corresponding System.map file, the modules built by the
 packager, and scripts that try to ensure that the system is not left in an
 unbootable state after an update.
 .
 Supports Nvidia-Tegra-IGX processors.
 .
 Geared toward IoT, embedded devices and server systems.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-nvidia-tegra-igx meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-headers-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, linux-nvidia-tegra-igx-headers-5.15.0-1007, ${shlibs:Depends}
Provides: linux-headers, linux-headers-3.0
Description: Linux kernel headers for version 5.15.0 on  SMP
 This package provides kernel header files for version 5.15.0 on
  SMP.
 .
 This is for sites that want the latest kernel headers.  Please read
 /usr/share/doc/linux-headers-5.15.0-1007/debian.README.gz for details.

Package: linux-image-5.15.0-1007-nvidia-tegra-igx-dbgsym
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}
Provides: linux-debug
Description: Linux kernel debug image for version 5.15.0 on  SMP
 This package provides the kernel debug image for version 5.15.0 on
  SMP.
 .
 This is for sites that wish to debug the kernel.
 .
 The kernel image contained in this package is NOT meant to boot from. It
 is uncompressed, and unstripped. This package also includes the
 unstripped modules.

Package: linux-tools-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, linux-nvidia-tegra-igx-tools-5.15.0-1007
Description: Linux kernel version specific tools for version 5.15.0-1007
 This package provides the architecture dependant parts for kernel
 version locked tools (such as perf and x86_energy_perf_policy) for
 version 5.15.0-1007 on
 .

Package: linux-cloud-tools-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, linux-nvidia-tegra-igx-cloud-tools-5.15.0-1007
Description: Linux kernel version specific cloud tools for version 5.15.0-1007
 This package provides the architecture dependant parts for kernel
 version locked tools for cloud for version 5.15.0-1007 on
 .

Package: linux-buildinfo-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${linux:BuiltUsing}
Description: Linux kernel buildinfo for version 5.15.0 on  SMP
 This package contains the Linux kernel buildinfo for version 5.15.0 on
  SMP.
 .
 You likely do not want to install this package.


Package: linux-modules-tegra-igpu-igx-5.15.0-1007-nvidia-tegra-igx
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends:
 ${misc:Depends},
 linux-image-5.15.0-1007-nvidia-tegra-igx | linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx,
 linux-nvidia-tegra-igx-tegra-igpu-igx-defaults (>= ${binary:Version}),
Conflicts: nvidia-dkms-kernel, nvidia-prebuilt-kernel
Built-Using: ${linux:BuiltUsing}
Description: Linux kernel tegra-igpu-igx modules for version 5.15.0-1007
 This package provides the Linux kernel tegra-igpu-igx modules for version
 5.15.0-1007.
 .
 You likely do not want to install this package directly. Instead, install the
 one of the linux-modules-tegra-igpu-igx-nvidia-tegra-igx* meta-packages,
 which will ensure that upgrades work correctly, and that supporting packages are
 also installed.


Package: linux-image-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Provides: linux-image, fuse-module, kvm-api-4, redhat-cluster-modules, ivtv-modules, ${linux:rprovides}
Depends: ${misc:Depends}, ${shlibs:Depends}, kmod, linux-base (>= 4.5ubuntu1~16.04.1), linux-modules-5.15.0-1007-nvidia-tegra-igx-rt
Recommends: grub-efi-arm64 [arm64] | flash-kernel [arm64], initramfs-tools | linux-initramfs-tool
Breaks: flash-kernel (<< 3.90ubuntu2) [arm64 armhf], s390-tools (<< 2.3.0-0ubuntu3) [s390x]
Conflicts: linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx-rt
Suggests: fdutils, linux-doc | linux-nvidia-tegra-igx-source-5.15.0, linux-nvidia-tegra-igx-tools, linux-headers-5.15.0-1007-nvidia-tegra-igx-rt, linux-modules-extra-5.15.0-1007-nvidia-tegra-igx-rt
Description: Linux kernel image for version 5.15.0 on  SMP
 This package contains the Linux kernel image for version 5.15.0 on
  SMP.
 .
 Supports Nvidia-Tegra-IGX-RT processors.
 .
 Geared toward IoT, embedded devices and server systems.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-nvidia-tegra-igx-rt meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-modules-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-image-5.15.0-1007-nvidia-tegra-igx-rt | linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx-rt
Built-Using: ${linux:BuiltUsing}
Description: Linux kernel extra modules for version 5.15.0 on  SMP
 Contains the corresponding System.map file, the modules built by the
 packager, and scripts that try to ensure that the system is not left in an
 unbootable state after an update.
 .
 Supports Nvidia-Tegra-IGX-RT processors.
 .
 Geared toward IoT, embedded devices and server systems.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-nvidia-tegra-igx-rt meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-modules-extra-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-image-5.15.0-1007-nvidia-tegra-igx-rt | linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx-rt, wireless-regdb
Description: Linux kernel extra modules for version 5.15.0 on  SMP
 This package contains the Linux kernel extra modules for version 5.15.0 on
  SMP.
 .
 Also includes the corresponding System.map file, the modules built by the
 packager, and scripts that try to ensure that the system is not left in an
 unbootable state after an update.
 .
 Supports Nvidia-Tegra-IGX-RT processors.
 .
 Geared toward IoT, embedded devices and server systems.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-nvidia-tegra-igx-rt meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-headers-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, linux-nvidia-tegra-igx-headers-5.15.0-1007, ${shlibs:Depends}
Provides: linux-headers, linux-headers-3.0
Description: Linux kernel headers for version 5.15.0 on  SMP
 This package provides kernel header files for version 5.15.0 on
  SMP.
 .
 This is for sites that want the latest kernel headers.  Please read
 /usr/share/doc/linux-headers-5.15.0-1007/debian.README.gz for details.

Package: linux-image-5.15.0-1007-nvidia-tegra-igx-rt-dbgsym
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}
Provides: linux-debug
Description: Linux kernel debug image for version 5.15.0 on  SMP
 This package provides the kernel debug image for version 5.15.0 on
  SMP.
 .
 This is for sites that wish to debug the kernel.
 .
 The kernel image contained in this package is NOT meant to boot from. It
 is uncompressed, and unstripped. This package also includes the
 unstripped modules.

Package: linux-tools-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, linux-nvidia-tegra-igx-tools-5.15.0-1007
Description: Linux kernel version specific tools for version 5.15.0-1007
 This package provides the architecture dependant parts for kernel
 version locked tools (such as perf and x86_energy_perf_policy) for
 version 5.15.0-1007 on
 .

Package: linux-cloud-tools-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: devel
Priority: optional
Depends: ${misc:Depends}, linux-nvidia-tegra-igx-cloud-tools-5.15.0-1007
Description: Linux kernel version specific cloud tools for version 5.15.0-1007
 This package provides the architecture dependant parts for kernel
 version locked tools for cloud for version 5.15.0-1007 on
 .

Package: linux-buildinfo-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${linux:BuiltUsing}
Description: Linux kernel buildinfo for version 5.15.0 on  SMP
 This package contains the Linux kernel buildinfo for version 5.15.0 on
  SMP.
 .
 You likely do not want to install this package.


Package: linux-modules-tegra-igpu-igx-5.15.0-1007-nvidia-tegra-igx-rt
Build-Profiles: <!stage1>
Architecture: arm64
Section: kernel
Priority: optional
Depends:
 ${misc:Depends},
 linux-image-5.15.0-1007-nvidia-tegra-igx-rt | linux-image-unsigned-5.15.0-1007-nvidia-tegra-igx-rt,
 linux-nvidia-tegra-igx-tegra-igpu-igx-defaults (>= ${binary:Version}),
Conflicts: nvidia-dkms-kernel, nvidia-prebuilt-kernel
Built-Using: ${linux:BuiltUsing}
Description: Linux kernel tegra-igpu-igx modules for version 5.15.0-1007
 This package provides the Linux kernel tegra-igpu-igx modules for version
 5.15.0-1007.
 .
 You likely do not want to install this package directly. Instead, install the
 one of the linux-modules-tegra-igpu-igx-nvidia-tegra-igx-rt* meta-packages,
 which will ensure that upgrades work correctly, and that supporting packages are
 also installed.

